@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
/* MOBILE STYLES */
/* HOME */
header h3 {
  margin: 0;
  width: 100%;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  padding: 16px 24px;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(94, 94, 94);
  letter-spacing: normal;
}
